body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#header {
    background-color: #666;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h2 {
    color: #333;
    font-size: 20px;
}

p {
    color: #666;
    font-size: 16px;
}

#footer {
    background-color: #666;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#color {
    margin: 10px 0;
}
